<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>食材追加</title>
</head>
<body>

	<h1>食材を追加します</h1>
	<br>
	下記入力欄を埋めたうえで「追加」ボタンを押してください。<br>
	<span style="color:red">*</span>は入力必須項目です。
	
	<p th:text="${message}" style="color:red"></p>
	
	<form action="/add/addResult" method="post">
		<table border="1">
			<tr>
				<th><span style="color:red">*</span>食べ物</th>
				<td><input type="text" name="name" th:value="${name}"></td>
			</tr>
			<tr>
				<th><span style="color:red">*</span>カテゴリー</th>
				<td>
					<select name="categoryCode">
						<option value="1">1.野菜</option>
						<option value="2">2.肉・魚</option>
						<option value="3">3.お菓子</option>
					</select>
				</td>
			</tr>
			<tr>
				<th><span style="color:red">*</span>購入個数</th>
				<td><input type="text" name="buyCount" th:value="${buyCount}"></td>
			</tr>
			<tr>
				<th><span style="color:red">*</span>購入日</th>
				<td><input type="date" name="buyDate"></td>
			</tr>
			<tr>
				<th>賞味期限</th>
				<td><input type="date" name="bestBefore"></td>
			</tr>
		</table>
		
		<br>
		
		<input type="submit" value="追加">
		
		<br>
		<br>
		
		<a href="/">戻る</a>
	
	
	</form>
</body>
</html>