<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録情報の編集</title>
</head>
<body>

	<h1>登録情報の編集</h1>
	
	<form action="finalFix" method="post">
		<table border="1" th:each="list:${fixFoodList}">
			<tr>
				<th>食べ物</th>
				<td><input type="text" name="fixName" th:value="${list.name}"></td>
			</tr>		
			<tr>
				<th>在庫数</th>
				<td><input type="text" name="fixCount" th:value="${list.count}"></td>
			</tr>		
			<tr>
				<th>賞味期限（実装要検討）</th>
				<td><input type="date" name="fixDate"></td>
			</tr>		
		</table>
		
		<br>
		<b style="color:red">編集が完了した</b>：<input type="submit" value="編集完了">
	</form>
	
	<hr>
	<br>
	
	<form action="/delete">
		<b style="color:red">入力・登録に誤りがあった場合：</b><input type="submit" value="削除">
	</form>

</body>
</html>