<!DOCTYPE html>
<html　xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録履歴</title>
</head>
<body>

	<h1>登録履歴</h1>
	最終更新時の情報です。
	
	<br>
	<br>
	
	<table border="1">
		<tr>
			<th>食べ物</th><th>購入数</th><th>購入日</th><th>賞味期限</th>
		</tr>
		<tr th:each="food:${foodList}">
			<td th:text="${food.name}"></td>
			<td th:text="${food.buyCount}"></td>
			<td th:text="${#dates.format(food.buyDate, 'yyyy年MM月dd日')}"></td>
			<th:block th:if="${food.bestBefore == null}">
				<td>賞味期限の登録はありません</td>
			</th:block>
			<th:block th:if="${food.bestBefore != null}">
				<td th:text="${#dates.format(food.bestBefore, 'yyyy年MM月dd日')}"></td>
			</th:block>
		</tr>
	</table>
	
	<br>
	
	<a href="/">戻る</a>
	
</body>
</html>