<!DOCTYPE html>
<html　xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録履歴</title>
<link th:href="@{/css/food.css}" rel="stylesheet" type="text/css">
</head>
<body>

	<div class="left">
		<h1>登録履歴</h1>
		購入時に登録された情報です。
		<form action="/history/search" method="get">
			<select name="categoryCode">
				<option value="0" th:selected="${categoryCode == 0}">全食材</option>
				<option value="1" th:selected="${categoryCode == 1}">野菜</option>
				<option value="2" th:selected="${categoryCode == 2}">肉・魚</option>
				<option value="3" th:selected="${categoryCode == 3}">お菓子</option>
				<option value="4" th:selected="${categoryCode == 4}">調味料</option>
				<option value="5" th:selected="${categoryCode == 5}">飲料水</option>
				<option value="6" th:selected="${categoryCode == 6}">酒・アルコール飲料</option>
			</select>の
			<input type="text" name="word" th:value="${word}" size=10px placeholder="食材名">を
			<input type="submit" value="表示" class="button">
		</form>
		
	</div>
	<hr>
	<br>
	
	<div class="left">
		<table>
			<tr>
				<th>食べ物</th><th>購入数</th><th>購入日</th><th>賞味期限</th>
			</tr>
			<tr th:each="food:${foodList}">
				<td><div class="tdLeft" th:text="${food.name}"></div></td>
				<td th:text="${food.buyCount}"></td>
				<td th:text="${#dates.format(food.buyDate, 'yyyy年MM月dd日')}"></td>
				<th:block th:if="${food.bestBefore == null}">
					<td>賞味期限の登録はありません</td>
				</th:block>
				<th:block th:if="${food.bestBefore != null}">
					<td th:text="${#dates.format(food.bestBefore, 'yyyy年MM月dd日')}"></td>
				</th:block>
			</tr>
		</table>
	</div>
	
	<div class="left">
		<th:block th:if="${pageNation == null}">
			<br><a class="button" href="/history/1">履歴一覧</a> | <a class="button" href="/">トップページに戻る</a>
		</th:block>
	</div>
	
	<ul th:if="${pageNation != null}">
		<li th:if="${page != 1}">
			<a th:href="@{/history/{page}(page=${1})}">&lt;&lt;</a>
		</li>
		<li th:if="${page != 1}">
			<a th:href="@{/history/{page}(page=${page-1})}">&lt;</a>
		</li>
		<li th:each="i : ${#numbers.sequence(1, pages)}">
			<th:block th:if="${i == page}">
				<span th:text="${i}"></span>
			</th:block>
			<th:block th:unless="${i == page}">
				<a th:href="@{/history/{page}(page=${i})}" th:text="${i}"></a>
			</th:blocks>
		</li>
		<li th:if="${page != pages}">
			<a th:href="@{/history/{page}(page=${page+1})}">&gt;</a>
		</li>
		<li th:if="${page != pages}">
			<a th:href="@{/history/{page}(page=${pages})}">&gt;&gt;</a>
		</li>
	</ul>
	
	<th:block th:if="${pageNation != null}">
		<div class="left">
			<a class="button" href="/">トップページに戻る</a>
		</div>
	</th:block>
	
</body>
</html>