<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>食べ物管理</title>
</head>
<body>

	<h1>食べ物管理</h1>
	<a href="/">全食材</a>
	<a th:each="category:${categories}" th:href="'/category/' + ${category.code}">
		<span th:text="${category.name}" style="padding-left:10px;"></span>
	</a>

	<br>
	<br>
	
	本日は<span th:text="${#dates.format(today, 'yyyy年MM月dd日')}"></span>です。

	<br>
	<br>
	
	<table border="1">
		<tr>
			<th>食べ物</th><th>在庫数</th><th>購入日</th><th>評価</th>
		</tr>
		<tr th:each="food,foodStat:${foodList}">
			<td><a th:href="'/update/' + ${food.code}" th:text="${food.name}"></a></td>
			<td th:text="${food.stockCount}"></td>
			<td th:text="${#dates.format(food.buyDate, 'yyyy年MM月dd日')}"></td>
			<td th:text="${food.judgeBestBefore()}"></td>
		</tr>
	
	</table>
	
	<br>
	
	<a href="/add">新規登録</a>　｜　<a href="/history">登録履歴</a>

</body>
</html>