<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>食べ物管理</title>
<link th:href="@{/css/food.css}" rel="stylesheet" type="text/css">
</head>
<body>

	<h1>食べ物管理</h1>
	
	<div class="left">
		<form action="/search" method="get">
			<select name="categoryCode">
				<option value="0" th:selected="${categoryCode == 0}">全食材</option>
				<option value="1" th:selected="${categoryCode == 1}">野菜</option>
				<option value="2" th:selected="${categoryCode == 2}">肉・魚</option>
				<option value="3" th:selected="${categoryCode == 3}">お菓子</option>
				<option value="4" th:selected="${categoryCode == 4}">調味料</option>
				<option value="5" th:selected="${categoryCode == 5}">飲料水</option>
				<option value="6" th:selected="${categoryCode == 6}">酒・アルコール飲料</option>
				<option value="7" th:selected="${categoryCode == 7}">お惣菜</option>
			</select>の
			<input type="text" name="word" th:value="${word}" size=10px placeholder="食材名">を
				<input type="submit" value="表示" class="button">
		</form>
	</div>

	<hr>
	<br>
	
	<div class="left">本日は<span class="colorRed" th:text="${#dates.format(today, 'yyyy年MM月dd日')}"></span>です。</div><br>
	
	<div class="left">
		<table>
			<tr>
				<th>食べ物</th><th>在庫数</th><th>購入日</th><th>評価</th>
			</tr>
			<tr th:each="food:${foodList}">
				<td><a class="tdLeft" th:href="'/update/' + ${food.code}" th:text="${food.name}"></a></td>
				<td th:text="${food.stockCount}"></td>
				<td th:text="${#dates.format(food.buyDate, 'yyyy年MM月dd日')}"></td>
				<td th:text="${food.judgeBestBefore()}"></td>
			</tr>
		</table>
	</div>
	
	<br>
	
	<div class="left">
		<a class="button" href="/add">新規登録</a>　｜　<a class="button" href="/history/1">登録履歴</a>
	</div>
	
	<br>
	
	<ul th:if="${pageNation != null}">
		<li th:if="${page != 1}">
			<a th:href="@{/page/{page}(page=${1})}">&lt;&lt;</a>
		</li>
		<li th:if="${page != 1}">
			<a th:href="@{/page/{page}(page=${page-1})}">&lt;</a>
		</li>
		<li th:each="i : ${#numbers.sequence(1, pages)}">
			<th:block th:if="${i == page}">
				<span th:text="${i}"></span>
			</th:block>
			<th:block th:unless="${i == page}">
				<a th:href="@{/page/{page}(page=${i})}" th:text="${i}"></a>
			</th:blocks>
		</li>
		<li th:if="${page != pages}">
			<a th:href="@{/page/{page}(page=${page+1})}">&gt;</a>
		</li>
		<li th:if="${page != pages}">
			<a th:href="@{/page/{page}(page=${pages})}">&gt;&gt;</a>
		</li>
	</ul>

</body>
</html>